@{
    ViewBag.Title = "Keep Inspired! You Too Are a YODA MASTER!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Cool is a great adjective to use when describing Junior Achievement, Southeast Michigan. As my number one place to volunteer, 
    I was able to assist junior and high school students learn fundamental practical math skills.
    I am passionate about learning and excelling within computer programming, because I am also passionate about social justice. Poverty is a travesty. In order to reduce the number of families facing insurmountable social and economical challenges within the economy, technology is a powerful tool one can utilize to improve their educational knowledge base and obtain valuable employment opportunities. This passion has led me to focus all my resources on learning computer programming, so I can be on the side of change. I want to be a position where I can share my knowledge or create tools for others to utilize.The next chapter in my life, 
    I am passionate about diversifying the information to include and engage those who are less fortunate to inspire a future where everyone is gainfully developing, thriving and prosperous.
    Recently, I attended an extensive 40 hrs a week, 10 week long bootcamp at Grand Circus, Detroit. Working within groups, peer programming, reading several text books, drowning in YouTube tutorials and becoming a professional "Googler" are all ways I became good at programming. My personal and professional mission is to develop user friendly applications, while specifically achieving results for businesses bottom-line. As in anything in life, I learned the process of learning can be uncomfortable, but being confident with preparation, execution and a passionate drive to continue until the end will result in accomplishments and successful events will follow. The learning process can look messy at times, but keeping an organized work space and outlining specific daily tasks or specifically well documenting comments in my code can be great reference tools. During the learning process, I ask questions, take lots of notes and create shortcut keys or PowerPoint slides to keep the information flow documented.
    I find PowerPoint is best for my visual needs and being able to drop an object- like an arrow, line or circle can be useful trying to visualize the example.</p>
