@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>


<style type="text/css">
    address {
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        color: #0094ff;
    }

    body {
        background-color: lightblue;
    }
</style>

<address>

    Financial Corner<br />
    Detroit, MI 48226-6399<br />
    Phone:
    313-555-8953
</address>

<address>
    <p>
        <a href="mailto:tsscamaro@gmail.com">Send Me an E-Mail!</a>
    </p>
    <strong>Email:</strong>   <a href="mailto:tsscamaro@gmail.com">tsscamaro@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>